astroid==1.4.1
click==6.2
colorama==0.3.5
coverage==4.0.3
decorator==4.0.6
Django==1.9
django-extensions==1.6.1
django-nose==1.4.3
first==2.0.1
ipython==4.0.1
ipython-genutils==0.1.0
jedi==0.9.0
jsonfield==1.0.3
lazy-object-proxy==1.2.1
path.py==8.1.2
pep8==1.6.2
pexpect==4.0.1
pickleshare==0.5
pip-tools==1.4.2
psycopg2==2.6.1
ptyprocess==0.5
pudb==2015.4.1
pyflakes==1.0.0
Pygments==2.0.2
pylint==1.5.1
python-dateutil==2.4.2
readline==6.2.4.1
rebar==0.1
see==1.1.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.0.0
urwid==1.3.1
wrapt==1.10.6
